{% macro render_field(field) %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class="errors alert alert-danger fade in" style="list-style-type:none">
    {% for error in field.errors %}
      <li>
        {{ error }}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
