{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend><i class="glyphicon glyphicon-user"></i></a> Add Fresher</legend>
            <form action="#" method="post" class="form" role="form">
                
                <div class="col-xs-6 col-md-6 input-group">
                    <input  class="form-control" name="referenceid" placeholder="Reference ID" type="text" pattern="[0-9]*" required autofocus>
                    <span class="input-group-btn">
                        <a class="btn btn-primary " href="{{ url_for("add", action="check") }}">check</a>
                    </span>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
                </div>
                <br>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="firstname" placeholder="First Name" type="text"
                        required  />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="lastname" placeholder="Last Name" type="text" required />
                </div>
            </div>
            <input class="form-control" name="telephone" placeholder="Telephone" type="text" pattern="[0-9]*" maxlength="10" required />
            <div class="row">
                
                <div class="col-xs-4 col-md-4">
                    <select id="hall" class="form-control">
                        <option value="" selected disabled hidden>Hall</option>
                        <option value="Unity">Unity</option>
                        <option value="Independence">Independence</option>
                        <option value="Republic">Republic</option>
                        <option value="Africa">Africa</option>
                        <option value="University">University</option>
                    </select>
                </div>
                <div class="col-xs-4 col-md-4">
                    <input class="form-control" type="text" pattern="[0-9]*" name="room" placeholder="Room No:">
                </div>
                <div class="col-xs-4 col-md-4">
                    <select id="block" class="form-control">
                        <option value="" selected disabled hidden>Block</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="Main">Main</option>
                        <option value="Annex">Annex</option>
                    </select>
                </div>
            </div>
            <div>
                <label>
                Sex:
                </label>
            </div>  
            <label class="radio-inline">
                <input type="radio" name="sex" id="inlineCheckbox1" value="male" />
                Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="sex" id="inlineCheckbox2" value="female" />
                Female
            </label>
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Add Fresher</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
