{% extends "layout.html" %}
{% block title %}Admin Panel{% endblock %}
{% block body %}
<div class="container">

    <form method="POST" action="{{ url_for("create") }}">
        <input type="email" name="email_field">
        <input type="submit" name="submit_button" value="Create viewer">
        <input type="submit" name="submit_button" value="Create collector">
    </form>

  
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <a href="{{ url_for("create", action="delete") }}"  class="btn btn-primary">delete users</a>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <a href="{{ url_for("export") }}"  class="btn btn-link">Export Database</a>
        </div>
    </div>
</div>

{% endblock %}


