{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-0 col-sm-0 col-md-2">  
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 well well-sm">
            <legend><i class="glyphicon glyphicon-user"></i></a> Edit Student</legend>
            <form method="post" class="form" role="form">
                  {{ form.csrf_token }}
                  {{ form.hidden_tag() }}  
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                       {{ render_field(form.id, value = id ) }}
                       {{ render_field(form.ref_no, class="form-control", placeholder="Reference ID", pattern="[0-9]*", autofocus="True") }} 
                    </div>
                </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    {{ render_field(form.f_name, class="form-control", placeholder="First Name") }}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    {{ render_field(form.l_name, class="form-control", placeholder="Last Name") }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    {{ render_field(form.tel_no, class="form-control", placeholder="Telephone", pattern="[0-9]*") }}     
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    {{ render_field(form.course, class="form-control", placeholder="Course", list="browsers") }}

                    <datalist id="browsers">
                        <option value="BA. Akan">
                        <option value="BA. Communication Design (Graphic Design)">
                        <option value="BA. Culture and Tourism">
                        <option value="BA. Economics">
                        <option value="BA. English">
                        <option value="BA. French ">
                        <option value="BA. Geography and Rural Development">
                        <option value="BA. History">
                        <option value="BA. Industrial Art">
                        <option value="BA. Integrated Rural Art and Industry">
                        <option value="BA. Painting and Sculpture">
                        <option value="BA. Political Studies">
                        <option value="BA. Publishing Studies">
                        <option value="BA. Religious Studies">
                        <option value="BA. Sociology">
                        <option value="BA. Social Work">
                        <option value="BSc. Actuarial Science">
                        <option value="BSc. Aerospace Engineering">
                        <option value="BSc. Agribusiness Management ">
                        <option value="BSc. Agricultural Biotechnology">
                        <option value="BSc. Agricultural Engineering">
                        <option value="BSc. Agriculture">
                        <option value="BSc. Aquaculture and Water Resources Management">
                        <option value="BSc. Architecture">
                        <option value="BSc. BDS (Dental Surgery) (Fee-Paying Only)">
                        <option value="BSc. Biochemistry">
                        <option value="BSc. Biological Science">
                        <option value="BSc. Biomedical Engineering">
                        <option value="BSc. Business Administration">
                        <option value="DVM (Veterinary Medicine)">
                        <option value="BSc. Chemical Engineering">
                        <option value="BSc. Chemistry">
                        <option value="BSc. Civil Engineering">
                        <option value="BSc. Computer Engineering ">
                        <option value="BSc. Computer Science">
                        <option value="BSc. Construction Technology and Management">
                        <option value="BSc. Dairy and Meat Science and Technology">
                        <option value="BSc. Development Planning">
                        <option value="BSc. Disability and Rehabilitation Studies">
                        <option value="BSc. Electrical/Electronic Engineering">
                        <option value="BSc. Environmental Sciences">
                        <option value="BSc. Environmental Sciences">
                        <option value="BSc. Food Science and Technology">
                        <option value="BSc. Forest Resources Technology">
                        <option value="BSc. Geological Engineering">
                        <option value="BSc. Geomatic Engineering">
                        <option value="BSc. Herbal Medicine">
                        <option value="BSc. Human Biology (Medicine)">
                        <option value="BSc. Human Settlement Planning">
                        <option value="BSc. Land Economy">
                        <option value="BSc. Landscape Design and Management">
                        <option value="BSc. Materials Engineering">
                        <option value="BSc. Mathematics">
                        <option value="BSc. Mechanical Engineering">
                        <option value="BSc. Medical Laboratory Technology">
                        <option value="BSc. Metallurgical Engineering">
                        <option value="BSc. Meteorology and Climate Science">
                        <option value="BSc. Midwifery">
                        <option value="BSc. Natural Resources Management">
                        <option value="BSc. Nursing">
                        <option value="BSc. Petrochemical Engineering">
                        <option value="BSc. Petroleum Engineering">
                        <option value="BSc. Physics">
                        <option value="BSc. Post Harvest Technology">
                        <option value="BSc. Quantity Surveying and Construction Economics">
                        <option value="BSc. Real Estate">
                        <option value="BSc. Sonography">
                        <option value="BSc. Sports and Exercise Science">
                        <option value="BSc. Statistics">
                        <option value="BSc. Telecommunication Engineering">
                        <option value="Doctor of Optometry">
                        <option value="LLB">
                        <option value="Pharm D (Doctor of Pharmacy)">            
                    </datalist>

                </div>
            </div>
            <div class=" panel panel-body">
                
                <div class="col-xs-4 col-md-4">
                    {{ form.hall.label }}
                    {{ render_field(form.hall, class="form-control") }}
                </div>
                <div class="col-xs-4 col-md-4">
                    {{ form.room_no.label }}
                   {{ render_field(form.room_no, class="form-control") }}
                </div>
                <div class="col-xs-4 col-md-4">
                    {{ form.block.label }}
                    {{ render_field(form.block, class="form-control") }}
                </div>
            </div>
            <div>
                <label>
                Sex:
                </label>
            </div>  
                {% for subfield in form.sex %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                    </tr>
                {% endfor %}
            <br />
            <br />
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8">
                   <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-edit"></i> Edit Student</button> 
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4">
                   <a class="btn btn-lg btn-danger btn-block" href="{{ url_for("view") }}">Cancel</a> 
                </div>
            </div>
            </form>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2">  
        </div>
    </div>
</div>
{% endblock %}


