<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PAX-ROMANA freshers Database</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

  </head>

    <div class="container">
   {% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<body>
{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <a class="navbar-brand" href=".">{% block title %}{% endblock %}</a>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a class="btn btn-primary" href="{{ url_for('logout') }}" style="color:aqua"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
    </li>
  </ul>
</nav>
{% endblock %}

    {% block body %}{% endblock %}
    <div id="footer" class="col-md-3 pull-right">
        {% block footer %}
        &copy; Powered by <a href="http://domain.invalid/"><strong>GeeKO</strong></a>.
        {% endblock %}
    </div>
</body>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>





