{% extends "layout.html" %}
{% block navbar %}{% endblock %}
{% block body %}
  {% if error %}
    <p class="errors alert alert-danger fade in"><strong>Error:</strong> {{ error }}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {% endif %}
  <div class="jumbotron">
        <h1>Welcome to the Pax Romana-KNUST local Database System</h1>
        <h2>Sign in to your account</h2>
        <div class="row">
            <div class="col-md-6">
                <form method=post>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type=text class="form-control" name=username value="{{request.form.username }}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type='password' class="form-control" name='password'>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
