{% extends "layout.html" %}
{% block title %}User List{% endblock %}
{% block body %}
<div class="container">
    <ul>
        {% for user in list.items %}
        <li><span>{{ user.email }}</span> <span>{{ user.id }}</span> <span><a href="{{ url_for("delete", id = user.id) }}">Delete</a></span></li>
        {% endfor %}
    </ul>
</div>
<div>
    {% if list.has_prev %}<a href="{{ url_for('create', action='delete',page=list.prev_num) }}">&lt;&lt; Newer posts</a>{% else %}&lt;&lt; Newer posts{% endif %} | 
{% if list.has_next %}<a href="{{ url_for('create', action='delete', page=list.next_num) }}">Older posts &gt;&gt;</a>{% else %}Older posts &gt;&gt;{% endif %}
</div>
{% endblock %}