{% extends 'layout.html' %}
{% block title %}Student Data{% endblock %}
{%block body%}
<div class="container">
<div class="row well well-sm">
  <div class="col-md-6  ">
    <form class="form form-inline" method="GET" role="form">
        Sort By:
        <select name = "column" class="form-control">
          <option value="f_name">Name</option>
          <option value="sex">Sex</option>
          <option value="ref_no">Ref. No.</option>
          <option value="course">Course</option>
          <option value="hall">Hall/Hostel</option>
          <option value="room_no">Room No.</option>
          <option value="year">Year</option>
        </select>
        <select name = "order" class="form-control">
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
      <button class="btn btn-default form-control" type="submit">
          <i class="glyphicon glyphicon-sort"></i>
      </button>
  </form>
  </div>

  <form action="{{ url_for('view') }}" class="form" method="GET" role="form">
    <div class=" col-md-6 custyle input-group">
      <input type="text" name="search" class="form-control" placeholder="Search" value="{{ q }}">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
    </div>
  </form>

</div>

  
    <div class="row col-md-12 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Reference ID</th>
            <th>First name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>Telephone</th>
            <th>Course</th>
            <th>Hall/Hostel</th>
            <th>Room Number</th>
            <th>Block</th>
            <th>Year Admitted</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            {% for student in studentlist.items %}
            <tr>
                <td>{{ student.ref_no }}</td>
                <td>{{ student.f_name }}</td>
                <td>{{ student.l_name }}</td>
                <td>{{ student.sex}}</td>
                <td>{{ student.tel_no }}</td>
                <td>{{ student.course }}</td>
                <td>{{ student.hall }}</td>
                <td>{{ student.room_no }}</td>
                <td>{{ student.block }}</td>
                <td>{{ student.year }}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="{{ url_for("view", action = "edit", id = student.ref_no) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="{{ url_for("view", action = "delete", id = student.ref_no) }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
            {% endfor %}
    </table>
    </div>
    <div class="row col-md-12 custyle">
      <ul class="pagination">
        {% if studentlist.has_prev %}<li class="page-item"><a href="{{ url_for('view', search=q, page=studentlist.prev_num) }}"><i class="glyphicon glyphicon-chevron-left"></i> Prev page</a></li>{% else %}<li class="page-item disabled"><a href="#"> First Page</a></li>{% endif %}
        {% if studentlist.has_next %}<li class="page-item"><a href="{{ url_for('view', search=q, page=studentlist.next_num) }}">Next page <i class="glyphicon glyphicon-chevron-right"></i></a></li>{% else %}<li class="page-item disabled"><a href="#">Last page</a></li>{% endif %}
      </ul>
          
    </div>
</div>
{%endblock%}