{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
<form action="{{ url_for("wtftest") }}" method="POST" class="form" role="form" > 
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}       
    <dl>
        {{ render_field(form.firstname, class="form-control") }}
        {{ render_field(form.lastname, class="form-control") }}
        {{ render_field(form.sex, class="radio-inline") }}
    </dl>
    <p><button class="btn btn-lg btn-primary" type="submit">
                submit</button></p>
</form>

{% endblock %}


